# Eclipse files
.classpath
.project
.settings
*/.settings/*
*/.wtpmodules
# EGit seems to create these in every module
*/.gitignore

# IntelliJ files
.idea/*
*.iml

# Compiled files
*/target/*

# JGiven Reports
acceptance-tests/jgiven-reports

# Local environment settings
service-urls/src/main/resources/config/application.properties
service-urls/src/main/resources/config/application-local.properties

# Docker contexts
*/docker/context
